<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.UserMapper">

    <!--
      SQL语句带一个参数
      parameterType：指定接收参数类型，返回一条记录，用下标取参数
      parameterType：参数类型
   -->
    <select id="getAllUser" resultType="Long">
        SELECT user_id FROM user
    </select>


</mapper>

